&lt;ul class=&quot;footer--link-list link-list&quot;&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;List Item 1&lt;/a&gt;
		&lt;div class=&quot;link-list--corner&quot;&gt;&lt;/div&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;List Item 2&lt;/a&gt;
		&lt;div class=&quot;link-list--corner&quot;&gt;&lt;/div&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;List Item 3&lt;/a&gt;
		&lt;div class=&quot;link-list--corner&quot;&gt;&lt;/div&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;List Item 4&lt;/a&gt;
		&lt;div class=&quot;link-list--corner&quot;&gt;&lt;/div&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;List Item 5&lt;/a&gt;
		&lt;div class=&quot;link-list--corner&quot;&gt;&lt;/div&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;a href=&quot;&quot;&gt;List Item 6&lt;/a&gt;
		&lt;div class=&quot;link-list--corner&quot;&gt;&lt;/div&gt;
	&lt;/li&gt;
&lt;/ul&gt;