<p><a href="#" class="btn"><span>Button</span><div class="corner"></div></a></p>
<button class="btn"><span>Button</span><div class="corner"></div></button>
<button class="btn alt"><span>Alternate Button</span><div class="corner"></div></button>
<p><a href="#" class="btn disabled"><span>Disabled Button</span><div class="corner"></div></a></p>
<p><a href="#" class="btn text-btn"><span>Text Button</span><div class="corner"></div></a></p>