<fieldset>
    <div class="field-container">
        <label for="text">Text Input</label>
        <input id="text" type="text" placeholder="Your name...">
    </div>
    <div class="field-container">
        <label for="emailaddress">Email Address</label>
        <input id="emailaddress" type="email" placeholder="Your email address...">
    </div>
    <div class="field-container">
        <label for="textarea">Textarea</label>
        <textarea id="textarea" rows="8" cols="48" placeholder="Your hopes, dreams, and fears..."></textarea>
    </div>

    <button type="submit" class="btn alt"><span>Submit</span><span class="corner"></span></button>
    <div class="field-container">
        <label class="error">Error Input</label>
        <input class="is-error" type="text" placeholder="Text Input">
    </div>
    <div class="field-container">
        <label  class="valid">Valid</label>
        <input  class="is-valid" type="text" placeholder="Text Input">
    </div>
</fieldset>

<fieldset class="footer cf">
    <div class="field-container">
        <input id="text" type="text" placeholder="Your name...">
    </div>
    <button class="footer--btn">Submit</button>
</fieldset>