<div class="page" id="page">
	{{> organisms-header }}
	{{> organisms-hero }}
	<main role="main" class="container">

		{{> molecules-small }}
		{{> molecules-small }}
		{{> molecules-large }}

		
	</main><!--End role=main-->
	{{> organisms-footer }}
</div>