<div class="page" id="page">
	{{> organisms-header }}
	{{> organisms-hero }}
	<main role="main">

		<section class="container">

			{{> molecules-small }}
			{{> molecules-small }}
			{{> molecules-large }}

		</section>
		
	</main><!--End role=main-->
	{{> organisms-footer }}
</div>