<div class="page" id="page">
	{{> organisms-header }}
	<main role="main">
		<section class="container">
			
			{{> molecules-large-cornered }}
			{{> molecules-small-no-img }}
			{{> molecules-small-no-img }}

		</section>

		<div class="btn-separator">
			<button class="btn alt"><span>let's get started</span><span class="corner"></span></button>
		</div>

		<section class="container">
			
			<h4>we implement a broad array of resources and interventions</h4>
			{{> atoms-link-list }}

		</section>

		<section class="approach-cases">
			<div class="container">
				<h3 class="approach-cases--title">Case Studies</h3>
				TODO: add case study gallery
			</div>
		</section>

	</main><!--End role=main-->
	{{> organisms-footer }}
</div>