<div class="page" id="page">
	{{> organisms-header }}
	<div class="container">
		<h1 class="h3">Meet the family</h1>
	</div>
	<main role="main">
		<section class="family secondary-section">
			<div class="container">
				{{> atoms-family }}
			</div>
		</section>
	</main>

	{{> organisms-footer }}
</div>