<div class="page" id="page">
	{{> organisms-header }}
	<main role="main">
		<section class="family--single container">
			<img src="{{ img.landscape-4x3.src }}" alt="" class="family--portrait">
			<div class="family--content">
				<header class="family--header">
					<h1 class="h3">Tiffany Jana</h1>
					<span class="h4">CEO</span>
					<a href="" class="h4">tiffany@tmiconsulting.com</a>
				</header>
				<p class="text-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus quo amet quam beatae sint dicta error ab nihil quasi, consequuntur cumque excepturi accusamus iure itaque velit. Pariatur reiciendis, officiis soluta!</p>
				<blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error rem modi voluptatibus, illum quae voluptas!</blockquote>
				<p class="text-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero, a eos repellendus iure commodi iusto consequuntur molestias reprehenderit sequi fuga porro architecto, laboriosam quasi molestiae? Nisi inventore commodi quis vel.</p>
				<p class="text-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta dolorem vel autem ea voluptas eveniet provident, nihil enim at impedit perspiciatis maiores quas corporis. Delectus accusantium molestias pariatur? Porro, magni.</p>
			</div>
			<div class="family--info text">
				<h4>Awards and Recognition</h4>
				<ul>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul>
				<h4>certification</h4>
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Lorem ipsum dolor sit amet.</li>
				</ul>
				<h4>Talks</h4>
				<ul>
					<li><a href="">Lorem ipsum dolor sit.</a></li>
					<li><a href="">Lorem ipsum dolor sit.</a></li>
				</ul>
			</div>
		</section>
		<section class="family secondary-section">
			<div class="container">
				<h3 class="h3 family--subtitle">The TMI Family</h3>
				<div>
				{{> atoms-family }}
				</div>
			</div>
		</section>
	</main>

	{{> organisms-footer }}
</div>