<div class="contact" id="page">
	{{> organisms-header }}
	{{> organisms-contact-hero }}
	<main role="main">

		<div class="container">

			<div class="contact--intro">
				
				<h2>We would love to hear from you</h2>

				<p class="text-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est eius aliquam, explicabo officia repellat? Nisi temporibus id ab eligendi earum, sed ut, incidunt, qui necessitatibus neque illo iure non numquam.</p>

				<a href="">tmi@tmiconsulting.com</a>

			</div>
			
			<div class="contact--main">

				{{> atoms-text-fields }}

			</div>

			<div class="contact--careers">
				<h4 class="contact--careers--header">career opportunities</h4>
				<p class="text-emphasis">Interested in being part of a values-base business?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem voluptatibus eius adipisci aut dolorum molestias, unde consequatur dolores cum est repellendus, consectetur suscipit itaque odit quaerat delectus nesciunt. Recusandae inventore autem nisi, esse et atque ducimus ullam totam consectetur quaerat dignissimos soluta ipsam tempora voluptatem perspiciatis similique voluptates nobis repellat!</p>
			</div>

		</div>
			
	</main><!--End role=main-->
	{{> organisms-footer }}
</div>