&lt;!-- Begin .header --&gt;
&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
	&lt;div class=&quot;container&quot;&gt;
		{{&gt; atoms-logo }}
		{{&gt; molecules-primary-nav }}
	&lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;