<ul class="link-list">
	<li>
		<a href="">Link Item 1</a>
		<div class="link-list--corner"></div>
	</li>
	<li>
		<a href="">Link Item 2</a>
		<div class="link-list--corner"></div>
	</li>
	<li>
		<a href="">Link Item 3</a>
		<div class="link-list--corner"></div>
	</li>
	<li>
		<a href="">Link Item 4</a>
		<div class="link-list--corner"></div>
	</li>
	<li>
		<a href="">Link Item 5</a>
		<div class="link-list--corner"></div>
	</li>
	<li>
		<a href="">Link Item 6</a>
		<div class="link-list--corner"></div>
	</li>
	<li>
		<a href="">Link Item 7</a>
		<div class="link-list--corner"></div>
	</li>
	<li>
		<a href="">Link Item 8</a>
		<div class="link-list--corner"></div>
	</li>
	<li>
		<a href="">Link Item 9</a>
		<div class="link-list--corner"></div>
	</li>
</ul>