<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="footer--logo">
			{{> atoms-logo-dark }}
		</div>
		<div class="footer--contact-info">
			<p>213 E Grace Street, #101,<br>Richmond, Virginia 23219, USA</p>
			<p>tmi@tmiconsultinginc.com</p>
			<p>phone: 804.225.5537<br>fax: 804.205.1243</p>
		</div>
		<div class="footer--links">
			{{> atoms-footer-link-list }}
		</div>
	</div>
	<div class="sub-footer">
		<div class="container">
			<span class="copyright">&copy; 2015 TMI Consulting Inc / site by Team Eight</span>
			{{> atoms-footer-icons }}
		</div>
	</div>
</footer>
<!-- End Footer -->