&lt;div class=&quot;approach-cases cf&quot;&gt;
&lt;a href=&quot;&quot; class=&quot;case-study&quot;&gt;
	&lt;img src=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;&quot; class=&quot;case-study--img&quot;&gt;
	&lt;div class=&quot;case-study--card&quot;&gt;
	&lt;/div&gt;
	&lt;span class=&quot;case-study--text&quot;&gt;
		&lt;span class=&quot;case-study--title&quot;&gt;Sample Case Study Title&lt;/span&gt;
		&lt;span class=&quot;case-study--subtitle&quot;&gt;case study subtitle&lt;/span&gt;
	&lt;/span&gt;
&lt;/a&gt;
&lt;a href=&quot;&quot; class=&quot;case-study&quot;&gt;
	&lt;img src=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;&quot; class=&quot;case-study--img&quot;&gt;
	&lt;div class=&quot;case-study--card&quot;&gt;
	&lt;/div&gt;
	&lt;span class=&quot;case-study--text&quot;&gt;
		&lt;span class=&quot;case-study--title&quot;&gt;Sample Case Study Title&lt;/span&gt;
		&lt;span class=&quot;case-study--subtitle&quot;&gt;case study subtitle&lt;/span&gt;
	&lt;/span&gt;
&lt;/a&gt;
&lt;a href=&quot;&quot; class=&quot;case-study&quot;&gt;
	&lt;img src=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;&quot; class=&quot;case-study--img&quot;&gt;
	&lt;div class=&quot;case-study--card&quot;&gt;
	&lt;/div&gt;
	&lt;span class=&quot;case-study--text&quot;&gt;
		&lt;span class=&quot;case-study--title&quot;&gt;Sample Case Study Title&lt;/span&gt;
		&lt;span class=&quot;case-study--subtitle&quot;&gt;case study subtitle&lt;/span&gt;
	&lt;/span&gt;
&lt;/a&gt;
&lt;/div&gt;