&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
	&lt;div class=&quot;container&quot;&gt;
		&lt;div class=&quot;footer--logo&quot;&gt;
			{{&gt; atoms-logo-dark }}
		&lt;/div&gt;
		&lt;div class=&quot;footer--contact-info&quot;&gt;
			&lt;p&gt;213 E Grace Street, #101,&lt;br&gt;Richmond, Virginia 23219, USA&lt;/p&gt;
			&lt;p&gt;tmi@tmiconsultinginc.com&lt;/p&gt;
			&lt;p&gt;phone: 804.225.5537&lt;br&gt;fax: 804.205.1243&lt;/p&gt;
		&lt;/div&gt;
		&lt;div class=&quot;footer--links&quot;&gt;
			{{&gt; atoms-footer-link-list }}
		&lt;/div&gt;
	&lt;/div&gt;
	&lt;div class=&quot;sub-footer&quot;&gt;
		&lt;div class=&quot;container&quot;&gt;
			&lt;span class=&quot;copyright&quot;&gt;&amp;copy; 2015 TMI Consulting Inc / site by Team Eight&lt;/span&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/footer&gt;
&lt;!-- End Footer --&gt;