&lt;div class=&quot;hero contact-hero cf&quot;&gt;
	&lt;div class=&quot;hero--img cf&quot; style=&quot;background-image: url({{ img.landscape-16x9.src }});&quot;&gt;&lt;/div&gt;
	&lt;div class=&quot;hero--card&quot;&gt;&lt;/div&gt;
	&lt;div class=&quot;container&quot;&gt;
		&lt;div class=&quot;hero--cta cf&quot;&gt;
			&lt;p class=&quot;h3&quot;&gt;213 E Grace Street, #101,&lt;br&gt;Richmond, Virginia 23219, US&lt;/p&gt;
			&lt;a href=&quot;&quot;&gt;tmi@tmiconsultinginc.com&lt;/a&gt;
			&lt;span&gt;phone: 804.225.5537&lt;/span&gt;
			&lt;span&gt;fax: 804.205.1243&lt;/span&gt;
			{{&gt; atoms-icons }}
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;