&lt;div class=&quot;card small&quot;&gt;
	&lt;img class=&quot;card--img&quot; src=&quot;{{ img.landscape-4x3.src }}&quot; alt=&quot;&quot;&gt;
	&lt;div class=&quot;card--info&quot;&gt;
		&lt;h4 class=&quot;card--title&quot;&gt;We're on a mission&lt;/h4&gt;
		&lt;p class=&quot;text-emphasis&quot;&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quo cumque, ducimus dolorum delectus ullam totam, nesciunt magni animi quidem non quasi perferendis sit omnis incidunt consequuntur nobis sed reprehenderit.&lt;/p&gt;
	&lt;/div&gt;
&lt;/div&gt;