&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	{{&gt; organisms-hero }}
	&lt;main role=&quot;main&quot;&gt;

		&lt;section class=&quot;container&quot;&gt;

			{{&gt; molecules-small }}
			{{&gt; molecules-small }}
			{{&gt; molecules-large }}

		&lt;/section&gt;
		
	&lt;/main&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;