<div class="family--thumb">
	<img src="http://placehold.it/300x400" alt="">
	<div class="family--card"></div>
	<div class="family--meta">
		<span class="family--name">Carra Rose</span>
		<p class="family--desc">Chief of Staff &amp; Coaching Consultant</p>
	</div>
</div>

<div class="family--thumb">
	<img src="http://placehold.it/300x400" alt="">
	<div class="family--card"></div>
	<div class="family--meta">
		<span class="family--name">Carra Rose</span>
		<p class="family--desc">Chief of Staff &amp; Coaching Consultant</p>
	</div>
</div>

<div class="family--thumb">
	<img src="http://placehold.it/300x400" alt="">
	<div class="family--card"></div>
	<div class="family--meta">
		<span class="family--name">Carra Rose</span>
		<p class="family--desc">Chief of Staff &amp; Coaching Consultant</p>
	</div>
</div>

<div class="family--thumb">
	<img src="http://placehold.it/300x400" alt="">
	<div class="family--card"></div>
	<div class="family--meta">
		<span class="family--name">Carra Rose</span>
		<p class="family--desc">Chief of Staff &amp; Coaching Consultant</p>
	</div>
</div>

<div class="family--thumb">
	<img src="http://placehold.it/300x400" alt="">
	<div class="family--card"></div>
	<div class="family--meta">
		<span class="family--name">Carra Rose</span>
		<p class="family--desc">Chief of Staff &amp; Coaching Consultant</p>
	</div>
</div>

<div class="family--thumb">
	<img src="http://placehold.it/300x400" alt="">
	<div class="family--card"></div>
	<div class="family--meta">
		<span class="family--name">Carra Rose</span>
		<p class="family--desc">Chief of Staff &amp; Coaching Consultant</p>
	</div>
</div>

<div class="family--thumb">
	<img src="http://placehold.it/300x400" alt="">
	<div class="family--card"></div>
	<div class="family--meta">
		<span class="family--name">Carra Rose</span>
		<p class="family--desc">Chief of Staff &amp; Coaching Consultant</p>
	</div>
</div>