&lt;div class=&quot;page&quot; id=&quot;page&quot;&gt;
	{{&gt; organisms-header }}
	&lt;main role=&quot;main&quot;&gt;
		&lt;section class=&quot;container&quot;&gt;
			
			{{&gt; molecules-large-cornered }}
			{{&gt; molecules-small-no-img }}
			{{&gt; molecules-small-no-img }}

		&lt;/section&gt;

		&lt;div class=&quot;btn-separator&quot;&gt;
			&lt;button class=&quot;btn alt&quot;&gt;&lt;span&gt;let's get started&lt;/span&gt;&lt;span class=&quot;corner&quot;&gt;&lt;/span&gt;&lt;/button&gt;
		&lt;/div&gt;

		&lt;section class=&quot;container&quot;&gt;
			
			&lt;h4&gt;we implement a broad array of resources and interventions&lt;/h4&gt;
			{{&gt; atoms-link-list }}

		&lt;/section&gt;

		&lt;section class=&quot;approach-cases&quot;&gt;
			&lt;div class=&quot;container&quot;&gt;
				&lt;h3 class=&quot;approach-cases--title&quot;&gt;Case Studies&lt;/h3&gt;
				TODO: add case study gallery
			&lt;/div&gt;
		&lt;/section&gt;

	&lt;/main&gt;&lt;!--End role=main--&gt;
	{{&gt; organisms-footer }}
&lt;/div&gt;