<div class="card large">
	<div class="sliced-img card--img">
		<img src="{{ img.landscape-4x3.src }}" alt="">
	</div>
	<div class="card--info">
		<h4 class="card--title">We're on a mission</h4>
		<p class="text-emphasis">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quo cumque, ducimus dolorum delectus ullam totam, nesciunt magni animi quidem non quasi perferendis sit omnis incidunt consequuntur nobis sed reprehenderit.</p>
	</div>
</div>