<div class="hero cf">
	<div class="hero--img cf" style="background-image: url({{ img.landscape-16x9.src }});"></div>
	<div class="hero--card"></div>
	<div class="hero--overlay"></div>
	<div class="container">
		<div class="hero--img-text">
			<span class="h3">You have complex,<br>people-centered challenges</span><br>
			<span class="h3 tisa">We can help.</span>
		</div>
		<div class="hero--cta">
			<p>We navigate the challenges of engaging a diverse population to optimize productivity.</p>
			<button class="btn"><span>our approach</span><span class="corner"></span></button>
		</div>
	</div>
</div>