<div class="hero contact-hero cf">
	<div class="hero--img cf" style="background-image: url({{ img.landscape-16x9.src }});"></div>
	<div class="hero--card"></div>
	<div class="container">
		<div class="hero--cta cf">
			<p class="h3">213 E Grace Street, #101,<br>Richmond, Virginia 23219, US</p>
			<a href="">tmi@tmiconsultinginc.com</a>
			<span>phone: 804.225.5537</span>
			<span>fax: 804.205.1243</span>
			{{> atoms-icons }}
		</div>
	</div>
</div>