<div class="approach-cases cf">
<a href="" class="case-study">
	<img src="{{ img.landscape-4x3.src }}" alt="" class="case-study--img">
	<div class="case-study--card">
	</div>
	<span class="case-study--text">
		<span class="case-study--title">Sample Case Study Title</span>
		<span class="case-study--subtitle">case study subtitle</span>
	</span>
</a>
<a href="" class="case-study">
	<img src="{{ img.landscape-4x3.src }}" alt="" class="case-study--img">
	<div class="case-study--card">
	</div>
	<span class="case-study--text">
		<span class="case-study--title">Sample Case Study Title</span>
		<span class="case-study--subtitle">case study subtitle</span>
	</span>
</a>
<a href="" class="case-study">
	<img src="{{ img.landscape-4x3.src }}" alt="" class="case-study--img">
	<div class="case-study--card">
	</div>
	<span class="case-study--text">
		<span class="case-study--title">Sample Case Study Title</span>
		<span class="case-study--subtitle">case study subtitle</span>
	</span>
</a>
</div>