&lt;fieldset&gt;
    &lt;div class=&quot;field-container&quot;&gt;
        &lt;label for=&quot;text&quot;&gt;Text Input&lt;/label&gt;
        &lt;input id=&quot;text&quot; type=&quot;text&quot; placeholder=&quot;Your name...&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-container&quot;&gt;
        &lt;label for=&quot;emailaddress&quot;&gt;Email Address&lt;/label&gt;
        &lt;input id=&quot;emailaddress&quot; type=&quot;email&quot; placeholder=&quot;Your email address...&quot;&gt;
    &lt;/div&gt;
    &lt;div class=&quot;field-container&quot;&gt;
        &lt;label for=&quot;textarea&quot;&gt;Textarea&lt;/label&gt;
        &lt;textarea id=&quot;textarea&quot; rows=&quot;8&quot; cols=&quot;48&quot; placeholder=&quot;Your hopes, dreams, and fears...&quot;&gt;&lt;/textarea&gt;
    &lt;/div&gt;

    &lt;button type=&quot;submit&quot; class=&quot;btn alt&quot;&gt;&lt;span&gt;Submit&lt;/span&gt;&lt;span class=&quot;corner&quot;&gt;&lt;/span&gt;&lt;/button&gt;
&lt;/fieldset&gt;