&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn&quot;&gt;&lt;span&gt;Button&lt;/span&gt;&lt;div class=&quot;corner&quot;&gt;&lt;/div&gt;&lt;/a&gt;&lt;/p&gt;
&lt;button class=&quot;btn&quot;&gt;&lt;span&gt;Button&lt;/span&gt;&lt;div class=&quot;corner&quot;&gt;&lt;/div&gt;&lt;/button&gt;
&lt;button class=&quot;btn alt&quot;&gt;&lt;span&gt;Alternate Button&lt;/span&gt;&lt;div class=&quot;corner&quot;&gt;&lt;/div&gt;&lt;/button&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn disabled&quot;&gt;&lt;span&gt;Disabled Button&lt;/span&gt;&lt;div class=&quot;corner&quot;&gt;&lt;/div&gt;&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;#&quot; class=&quot;btn text-btn&quot;&gt;&lt;span&gt;Text Button&lt;/span&gt;&lt;div class=&quot;corner&quot;&gt;&lt;/div&gt;&lt;/a&gt;&lt;/p&gt;